html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 70px;
  margin-bottom: 60px;
}

.float-right {
  float: right;
}

.footer {
  position: absolute;
  bottom: 1px;
  width: 100%;
  height: 60px;
  background-color: #f5f5f5;
  border: 0 solid #e7e7e7;
  border-top-width: 1px;
}

footer li {
  float: left;
  list-style: none;
  margin: 20px 40px;
}

footer a {
  float: left !important;
}

footer li:first-child {
  margin-left: 0;
}

footer a:hover {
  color: #333;
}

footer a {
  color: inherit;
}

.dropdown-menu {
  left: -1px;
}

button.disabled, button.disabled:hover {
  background-color: #eee !important;
  color: #555 !important;
  border: 1px solid #ccc !important;
  opacity: 1 !important;
}

a, a:active, a:focus, a:hover {
  text-decoration: none;
}
.treeview a:hover {
   text-decoration: underline;
}

a:active, a:focus {
  outline: none !important;
}

h1 a {
  color: inherit !important;
}

.node-tree.category {
  font-weight: bold;
}

.node-tree a[role="button"] {
  float: right;
  padding: 2px 0 0 0;
}

.btn-right {
  float: right;
}

.btn-margin {
  margin: 10px 0;
}

div.nofloat {
  float: none;
}

td.fit,
th.fit {
  white-space: nowrap;
  width: 1%;
}

td.hover {
  opacity: 0;
}

tr:hover td.hover {
  opacity: 1;
}

.footScripts {
  display: none;
}

.form-signup {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

.form-signup > div {
  margin: 0 auto;
  float: none;
}

body.form-sign {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

.form-sign > div {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
  float: none;
}
.form-sign .form-sign-heading,
.form-sign .checkbox {
  margin-bottom: 10px;
}
.form-sign .checkbox {
  font-weight: normal;
}
.form-sign .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-sign .form-control:focus {
  z-index: 2;
}
.form-top {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-middle {
  margin-bottom: -1px;
  border-radius: 0;
}
.form-bottom {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.link-right {
  float: right;
}

.form-sign div.register-section {
  margin-top: 20px;
}

.form-group label {
  display: block;
}

.form-catalog-add-field .input-wrapper {
  padding-right: 150px;
  margin-right: -146px;
  width: 100%;
  min-width: 300px;
  float: left;
}

.form-catalog-add-field input {
  float: left;
}

.form-catalog-add-field.has-error button.btn-default {
  border-color: #ccc !important;
}

.form-catalog-add-field .bootstrap-select {
  width: 100px !important;
  margin-left: -200px;
  float: left;
}

body > .form-catalog-add-field {
  display: none;
}

fieldset {
  margin-bottom: 10px;
}