<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commons :: head(~{::title}, ~{::link.separate-link})">
  <meta charset="utf-8">
  <link rel="icon" href="../../../resources/img/favicon.ico">

  <title>New item</title>

  <link href="../../../resources/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="../../../resources/css/styles.css" rel="stylesheet">

  <link class="separate-link" href="../../../resources/bower_components/bootstrap-select/dist/css/bootstrap-select.css"
        th:href="@{/resources/bower_components/bootstrap-select/dist/css/bootstrap-select.css}"
        rel="stylesheet">
</head>

<body>

<nav th:replace="fragments/commons :: nav" class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
              aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="../home/userhome.html">MyInventory</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="dropdown active">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
             aria-expanded="false">Catalogs <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="../catalog/view.html">Medicine Cabinet</a></li>
            <li><a href="../catalog/view.html">Crete Trip</a></li>
            <li><a href="../catalog/view.html">Electronics</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="../catalog/new.html">+ New</a></li>
          </ul>
        </li>
        <li><a href="../item/new.html">Add item</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
             aria-expanded="false">SomeUser <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="../login/login.html">Logout</a></li>
            <li role="separator" class="divider"></li>
            <li class="dropdown-header">Settings</li>
            <li><a href="../settings/name.html">Username</a></li>
            <li><a href="../settings/password.html">Password</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">

  <div class="page-header">
    <h1>New item</h1>
  </div>

  <form th:action="${param.catalog != null} ? @{/item/new(catalog=${param.catalog})} : @{/item/new}" th:method="post" th:object="${newItemForm}">

    <fieldset class="col-md-6">

      <div class="form-group" id="select-catalog-group">
        <label for="catalog" class="control-label">Catalog</label>
        <select class="selectpicker form-control" id="catalog">
          <option value="2">Crete Trip</option>
          <option value="1">Electronics</option>
        </select>
        <span class="help-block" style="display:none">You must first add a catalog.</span>
      </div>

      <div class="form-group" id="select-category-group">
        <label for="category" class="control-label">Category</label>
        <select data-size="6" class="selectpicker form-control" id="category" th:field="*{categoryId}">
          <option value="0" style="padding-left:20px">Accessories</option>
          <option value="0" style="padding-left:30px">Hats</option>
          <option value="0" style="padding-left:30px">Jewelry</option>
          <option value="0" style="padding-left:40px">Rings</option>
          <option value="0" style="padding-left:40px">Necklaces</option>
          <option value="0" style="padding-left:20px" data-divider="true"></option>
          <option value="0" style="padding-left:20px">Clothes</option>
          <option value="0" style="padding-left:30px">Shirts</option>
          <option value="0" style="padding-left:30px">Shoes</option>
          <option value="0" style="padding-left:30px">Underwear</option>
          <option value="0" style="padding-left:20px" data-divider="true"></option>
          <option value="0" style="padding-left:20px">Electronics</option>
          <option value="0" style="padding-left:20px" data-divider="true"></option>
          <option value="0" style="padding-left:20px">Entertainment</option>
          <option value="0" style="padding-left:30px">Books</option>
          <option value="0" style="padding-left:30px">Games</option>
        </select>
        <span class="help-block" style="display:none">You must first add a category.</span>
      </div>

    </fieldset>
    <fieldset class="col-md-6">
      <div class="form-group" th:classappend="${#fields.hasErrors('name')} ? 'has-error'">
        <label for="name" class="control-label">Name</label>
        <input type="text" class="form-control" id="name" maxlength="128" required th:field="*{name}">
        <span class="help-block" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Message.</span>
      </div>

      <div class="form-group" th:classappend="${#fields.hasErrors('description')} ? 'has-error'">
        <label for="description" class="control-label">Description</label>
        <textarea class="form-control" rows="3" id="description" maxlength="256" th:field="*{description}"></textarea>
        <span class="help-block" th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Message.</span>
      </div>

      <div class="form-group" th:classappend="${#fields.hasErrors('quantity')} ? 'has-error'">
        <label for="quantity" class="control-label">Quantity</label>
        <input type="number" value="1" min="0" class="form-control" id="quantity" required th:field="*{quantity}">
        <span class="help-block" th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}">Message.</span>
      </div>

    </fieldset>
    <fieldset class="col-md-12">
      <div class="form-group float-right">
        <a th:href="${param.catalog != null} ? @{/catalog/view/{catalog}(catalog=${param.catalog})} : @{/}"
           class="btn btn-default">Cancel</a>
        <button type="submit" class="btn btn-primary">Apply</button>
      </div>
    </fieldset>
  </form>
</div>

<footer th:replace="fragments/commons :: footer" class="footer">
  <div class="container">
    <ul class="text-muted">
      <a href="../home/userhome.html">
        <li>Home</li></a>
      <a href="../info/about.html">
        <li>About</li></a>
    </ul>
  </div>
</footer>

<div th:replace="fragments/commons :: bottom_scripts">
  <script src="../../../resources/bower_components/jquery/dist/jquery.min.js"></script>
  <script src="../../../resources/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
</div>
<script src="../../../resources/bower_components/bootstrap-select/dist/js/bootstrap-select.js"
        th:src="@{/resources/bower_components/bootstrap-select/dist/js/bootstrap-select.js}"></script>
<script th:inline="javascript">
  var data = /*[[${catalogsJsonData}]]*/ "[ {\n  \"id\" : 2,\n  \"name\" : \"Crete Trip\",\n  \"children\" : [ ]\n}, {\n  \"id\" : 1,\n  \"name\" : \"Electronics\",\n  \"children\" : [ {\n    \"id\" : 1,\n    \"name\" : \"Diodes\",\n    \"children\" : [ {\n      \"id\" : 2,\n      \"name\" : \"LEDs\",\n      \"children\" : [ ]\n    }, {\n      \"id\" : 3,\n      \"name\" : \"Zener\",\n      \"children\" : [ ]\n    } ]\n  } ]\n} ]";
  var catalogs = $.parseJSON(data);
  createCatalogSelect();
  refreshCategorySelect();
  validateCatalog();
  validateCategory();
  /*
  function print(c) {
    console.log(c.id);
    console.log(c.name);
    for (var child of c.children) {
      print(child);
    }
  }
  for (var catalog of catalogs) {
    print(catalog);
    console.log('------');
  }
*/
  function createCatalogSelect() {
    var simpleCatalogs = $.map(catalogs, function(c) {
      var cat = {};
      cat.id = c.id;
      cat.name = c.name;
      return cat;
    });

    var body = "";
    for (var i = 0; i < simpleCatalogs.length; ++i) {
      body += '<option value="' + simpleCatalogs[i].id + '">' + simpleCatalogs[i].name + '</option>';
    }
    var catalogSelect = $('#catalog');
    catalogSelect.html(body);
    if (getParameterByName('catalog') != null) {
      catalogSelect.attr('disabled', 'true');
    }
  }

  function filterById(c, id) {
    return c.find(function(c) {
      return c.id == id;
    });
  }

  function createSelectBody(c) {
    var body = "";
    if (c != undefined && c.hasOwnProperty('children')) {
      for (var i = 0; i < c.children.length; ++i) {
        if (i > 0) {
          body += '<option style="padding-left:20px" data-divider="true"></option>';
        }
        body += traverse(c.children[i], 0);
      }
    }
    return body;
  }

  function createOption(c, level) {
    return '<option value=\"' + c.id + '\" style=\"padding-left:' + (20 + level*10) + 'px\">' + c.name + '</option>';
  }

  function traverse(c, level) {
    var str = createOption(c, level);
    for (var i = 0; i < c.children.length; ++i) {
      str += traverse(c.children[i], level + 1);
    }
    return str;
  }

  function refreshCategorySelect() {
    var catalogId = $('#catalog').val();
    $('#category').html(createSelectBody(filterById(catalogs, catalogId)));
    $('.selectpicker').selectpicker('refresh');
    validateCategory();
  }

  $('#catalog').change(refreshCategorySelect);

  function validateSelect(formGroup, select) {
    var hasClass = formGroup.hasClass('has-error');
    if (select.find('option').length == 0) {
      if (!hasClass) {
        formGroup.addClass('has-error');
        formGroup.children('.help-block').attr('style','display:block');
      }
    } else if (hasClass) {
      formGroup.removeClass('has-error');
      formGroup.children('.help-block').attr('style','display:none')
    }
  }

  function validateCategory() {
    validateSelect($('#select-category-group'), $('#category'));
  }

  function validateCatalog() {
    validateSelect($('#select-catalog-group'), $('#catalog'));
  }

  function getParameterByName(name) {
    var match = RegExp('[?&]' + name + '=([^&]*)').exec(window.location.search);
    return match && decodeURIComponent(match[1].replace(/\+/g, ' '));
  }
</script>
</body>
</html>
