<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commons :: head(~{::title}, ~{::link.separate-link})">
  <meta charset="utf-8">
  <link rel="icon" href="../../../resources/img/favicon.ico">

  <title>MyInventory - home</title>

  <link href="../../../resources/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="../../../resources/css/styles.css" rel="stylesheet">

</head>

<body>

<nav th:replace="fragments/commons :: nav" class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
              aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="../home/userhome.html">MyInventory</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="dropdown active">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
             aria-expanded="false">Catalogs <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="../catalog/view.html">Medicine Cabinet</a></li>
            <li><a href="../catalog/view.html">Crete Trip</a></li>
            <li><a href="../catalog/view.html">Electronics</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="../catalog/new.html">+ New</a></li>
          </ul>
        </li>
        <li><a href="../item/new.html">Add item</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
             aria-expanded="false">SomeUser <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="../login/login.html">Logout</a></li>
            <li role="separator" class="divider"></li>
            <li class="dropdown-header">Settings</li>
            <li><a href="../settings/name.html">Username</a></li>
            <li><a href="../settings/password.html">Password</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">

  <div class="jumbotron">
    <h1>Catalogs</h1>
    <p th:text="${user.catalogs.size() + ' catalogs, ' + numCategories + ' categories, ' + numItems + ' items'}">3 catalogs, 78 categories, 348 items</p>
    <p>
      <a class="btn btn-lg btn-primary"
         role="button"
         href="../catalog/new.html"
         th:href="@{/catalog/new}">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New catalog
      </a>
    </p>
  </div>

  <div class="list-group">
    <a class="list-group-item"
       href="../catalog/view.html"
       th:each="catalog : ${user.catalogs}"
       th:href="@{/catalog/view/__${catalog.tag}__}">
      <h2 class="list-group-item-heading"
          th:text="${catalog.name}">Medicine Cabinet</h2>
      <p class="list-group-item-text"
         th:text="${catalog.description}">
        Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus
        varius blandit.</p>
    </a>
  </div>

</div>

<footer th:replace="fragments/commons :: footer" class="footer">
  <div class="container">
    <ul class="text-muted">
      <a href="../home/userhome.html">
        <li>Home</li></a>
      <a href="../info/about.html">
        <li>About</li></a>
    </ul>
  </div>
</footer>

<div th:replace="fragments/commons :: bottom_scripts">
  <script src="../../../resources/bower_components/jquery/dist/jquery.min.js"></script>
  <script src="../../../resources/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
</div>
</body>
</html>
