<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commons :: head(~{::title}, ~{::link.separate-link})">
  <meta charset="utf-8">
  <link rel="icon" href="../../../resources/img/favicon.ico">

  <title>Browse: Electronics</title>

  <link href="../../../resources/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="../../../resources/css/styles.css" rel="stylesheet">

</head>

<body>

<nav th:replace="fragments/commons :: nav" class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
              aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="../home/userhome.html">MyInventory</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="dropdown active">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
             aria-expanded="false">Catalogs <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="../catalog/view.html">Medicine Cabinet</a></li>
            <li><a href="../catalog/view.html">Crete Trip</a></li>
            <li><a href="../catalog/view.html">Electronics</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="../catalog/new.html">+ New</a></li>
          </ul>
        </li>
        <li><a href="../item/new.html">Add item</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
             aria-expanded="false">SomeUser <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="../login/login.html">Logout</a></li>
            <li role="separator" class="divider"></li>
            <li class="dropdown-header">Settings</li>
            <li><a href="../settings/name.html">Username</a></li>
            <li><a href="../settings/password.html">Password</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <div class="page-header">
    <h1><a th:href="@{/catalog/view/__${catalog.tag}__}" th:text="${catalog.name + ' catalog'}">Electronics catalog</a></h1>
  </div>

  <ol class="breadcrumb">
    <li><a th:href="@{/browse/__${catalog.tag}__}" th:text="${catalog.name}">Electronics</a></li>
    <li th:each="category, iteration : ${hrefPath}"><a
          th:classappend="${iteration.last} ? text-muted"
          th:href="@{/browse/__${category.getValue()}__}"
          th:text="${category.getKey()}">Diodes</a>
    </li>
  </ol>

  <p class="link-right"
     th:if="${hrefPath.size() > 0}"><a
        class="text-muted"
        href="../category/edit.html"
        th:href="@{/category/edit?id=__${currentCategory.id}__}">Edit category</a>
  </p>

  <ul>
    <li th:each="category : ${hrefChildren}"><a
          th:href="@{/browse/__${category.getValue()}__}"
          th:text="${category.getKey()}">RGB</a>
    </li>
  </ul>

  <table class="table table-hover table-striped">
    <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Description</th>
      <th>Quantity</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="item, iteration : ${items}">
      <td th:text="${(pageNumber - 1) * itemsPerPage + iteration.count}">1</td>
      <td th:text="${item.name}">Column content</td>
      <td th:text="${item.description}">Column content</td>
      <td th:text="${item.quantity}">Column content</td>
      <td class="hover hover fit text-center">
        <a class="btn btn-default btn-xs"
           href="../item/view.html" th:href="@{/item/view?id=__${item.id}__}">
          <span class="glyphicon glyphicon-eye-open"></span></a>
        <a class="btn btn-default btn-xs"
           href="../item/edit.html" th:href="@{/item/edit?id=__${item.id}__}">
          <span class="glyphicon glyphicon-pencil"></span></a>
      </td>
    </tr>
    </tbody>
  </table>

  <ul th:with="pagesToDisplay = ${numberOfPages > 5 ? 5 : numberOfPages}, startPage = ${pageNumber - 2 <= 1 ? 1 : (pageNumber + 2 > numberOfPages ? numberOfPages - 4 : pageNumber - 2)}" class="pagination pull-right">
    <li class="disabled" th:class="${pageNumber <= 1} ? disabled">
      <a th:href="${pageNumber > 1} ? @{/browse/__${currentPath}__?page=__${pageNumber - 1}__&items=__${itemsPerPage}__} : '#'">&laquo;</a>
    </li>

    <li th:with="pageLabel = ${i + startPage - 1}"
        th:each="i : ${#numbers.sequence(1, pagesToDisplay)}"
        th:class="${pageLabel == pageNumber} ? active">
      <a th:text="${pageLabel}" th:href="@{/browse/__${currentPath}__?page=__${pageLabel}__&items=__${itemsPerPage}__}">1</a>
    </li>

    <li th:class="${pageNumber >= numberOfPages} ? disabled">
      <a th:href="${pageNumber < numberOfPages} ? @{/browse/__${currentPath}__?page=__${pageNumber + 1}__&items=__${itemsPerPage}__} : '#'">&raquo;</a>
    </li>
  </ul>

</div>

<footer th:replace="fragments/commons :: footer" class="footer">
  <div class="container">
    <ul class="text-muted">
      <a href="../home/userhome.html">
        <li>Home</li></a>
      <a href="../info/about.html">
        <li>About</li></a>
    </ul>
  </div>
</footer>

<div th:replace="fragments/commons :: bottom_scripts">
  <script src="../../../resources/bower_components/jquery/dist/jquery.min.js"></script>
  <script src="../../../resources/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
</div>
</body>
</html>
