<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commons :: head(~{::title}, ~{::link.separate-link})">
  <meta charset="utf-8">
  <link rel="icon" href="../../../resources/img/favicon.ico">

  <title>Edit catalog</title>

  <link href="../../../resources/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="../../../resources/css/styles.css" rel="stylesheet">

  <link class="separate-link" href="../../../resources/bower_components/bootstrap-select/dist/css/bootstrap-select.css"
        th:href="@{/resources/bower_components/bootstrap-select/dist/css/bootstrap-select.css}"
        rel="stylesheet">
</head>

<body>

<nav th:replace="fragments/commons :: nav" class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
              aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="../home/userhome.html">MyInventory</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="dropdown active">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
             aria-expanded="false">Catalogs <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="../catalog/view.html">Medicine Cabinet</a></li>
            <li><a href="../catalog/view.html">Crete Trip</a></li>
            <li><a href="../catalog/view.html">Electronics</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="../catalog/new.html">+ New</a></li>
          </ul>
        </li>
        <li><a href="../item/new.html">Add item</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
             aria-expanded="false">SomeUser <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="../login/login.html">Logout</a></li>
            <li role="separator" class="divider"></li>
            <li class="dropdown-header">Settings</li>
            <li><a href="../settings/name.html">Username</a></li>
            <li><a href="../settings/password.html">Password</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">

  <div class="page-header">
    <h1>Edit - <th:block th:text="${editedCatalog.name}">Electronics</th:block> catalog</h1>
  </div>

  <form th:action="@{/catalog/edit/__${editedCatalog.tag}__}" th:method="post" th:object="${editCatalogForm}">
    <fieldset class="col-md-6">

      <div class="form-group" th:classappend="${#fields.hasErrors('name')}? 'has-error'">
        <label for="name" class="control-label">Name</label>
        <input type="text" class="form-control" id="name" maxlength="128" th:field="*{name}" required>
        <span class="help-block" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Message.</span>
      </div>

      <div class="form-group" th:classappend="${#fields.hasErrors('tag')}? 'has-error'">
        <label for="name" class="control-label">Tag</label>
        <input type="text" class="form-control" id="tag"
               pattern="[a-z0-9_-]{1,128}"
               title="Use lowercase letters, digits, underscores or hyphens. Up to 128 characters."
               th:field="*{tag}"
               required>
        <span class="help-block" th:if="${#fields.hasErrors('tag')}" th:errors="*{tag}">Message.</span>
      </div>

      <div class="form-group" th:classappend="${#fields.hasErrors('description')}? 'has-error'">
        <label for="description" class="control-label">Description</label>
        <textarea class="form-control"
                  rows="3" id="description"
                  maxlength="256" th:field="*{description}"></textarea>
        <span class="help-block" th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Message.</span>
      </div>
      
      <div class="form-group float-right">
        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal">Delete</button>
        <a th:href="@{/catalog/view/__${editedCatalog.tag}__}" class="btn btn-default">Cancel</a>
        <button type="submit" class="btn btn-primary">Apply</button>
      </div>
    </fieldset>
  </form>
</div>

<footer th:replace="fragments/commons :: footer" class="footer">
  <div class="container">
    <ul class="text-muted">
      <a href="../home/userhome.html">
        <li>Home</li></a>
      <a href="../info/about.html">
        <li>About</li></a>
    </ul>
  </div>
</footer>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
              aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Delete catalog?</h4>
      </div>
      <div class="modal-body">
        Are you sure you want to delete this catalog? This action cannot be reversed.
      </div>
      <div class="modal-footer">
        <form th:action="@{/catalog/delete/__${editedCatalog.tag}__}" th:method="post">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-danger">Delete</button>
        </form>
      </div>
    </div>
  </div>
</div>

<div th:replace="fragments/commons :: bottom_scripts">
  <script src="../../../resources/bower_components/jquery/dist/jquery.min.js"></script>
  <script src="../../../resources/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
</div>
<script src="../../../resources/bower_components/bootstrap-select/dist/js/bootstrap-select.js"
        th:src="@{/resources/bower_components/bootstrap-select/dist/js/bootstrap-select.js}"></script>
<script>
  $('.btn-danger').on('click', function() {
    console.log("click")
  })
  $('.modal-footer .btn-danger').click(function () {
    console.log('delete')
  })
</script>
</body>
</html>
