<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commons :: head(~{::title}, ~{::link.separate-link})">
  <meta charset="utf-8">
  <link rel="icon" href="../../../resources/img/favicon.ico">

  <title>New catalog</title>

  <link href="../../../resources/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="../../../resources/css/styles.css" rel="stylesheet">

  <link class="separate-link" href="../../../resources/bower_components/bootstrap-select/dist/css/bootstrap-select.css"
        th:href="@{/resources/bower_components/bootstrap-select/dist/css/bootstrap-select.css}"
        rel="stylesheet">
</head>

<body>

<nav th:replace="fragments/commons :: nav" class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
              aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="../home/userhome.html">MyInventory</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="dropdown active">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
             aria-expanded="false">Catalogs <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="../catalog/view.html">Medicine Cabinet</a></li>
            <li><a href="../catalog/view.html">Crete Trip</a></li>
            <li><a href="../catalog/view.html">Electronics</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="../catalog/new.html">+ New</a></li>
          </ul>
        </li>
        <li><a href="../item/new.html">Add item</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
             aria-expanded="false">SomeUser <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="../login/login.html">Logout</a></li>
            <li role="separator" class="divider"></li>
            <li class="dropdown-header">Settings</li>
            <li><a href="../settings/name.html">Username</a></li>
            <li><a href="../settings/password.html">Password</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">

  <div class="page-header">
    <h1>New catalog</h1>
  </div>

  <form class="form" th:action="@{/catalog/new}" th:method="post" th:object="${newCatalogForm}">

    <fieldset class="col-md-6">

      <div class="form-group">
        <label for="type" class="control-label">Type</label>
        <select class="selectpicker form-control" id="type" th:field="*{copyExisting}">
          <option value="false">Empty</option>
          <option value="true">Copy existing</option>
        </select>
      </div>

      <div class="form-group" style="display:none"
           th:style="${'display:' + (newCatalogForm.copyExisting ? 'block' : 'none')}"
           th:classappend="${#fields.hasErrors('catalogToCopyId')}? 'has-error'">
        <label for="sourceCatalog" class="control-label">Catalog to copy</label>
        <select class="selectpicker form-control" id="sourceCatalog" th:field="*{catalogToCopyId}">
          <option th:each="catalog : ${user.catalogs}" th:value="${catalog.id}" th:text="${catalog.name}">Medicine Cabinet</option>
        </select>
        <span class="help-block" th:if="${#fields.hasErrors('catalogToCopyId')}" th:errors="*{catalogToCopyId}">Message.</span>
        <div class="checkbox"><label><input type="checkbox" th:field="*{copyItems}">Copy items</label></div>
      </div>

    </fieldset>

    <fieldset class="col-md-6">

      <div class="form-group" th:classappend="${#fields.hasErrors('name')}? 'has-error'">
        <label for="name" class="control-label">Name</label>
        <input type="text" class="form-control" id="name" maxlength="128" required th:field="*{name}">
        <span class="help-block" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Message.</span>
      </div>

      <div class="form-group" th:classappend="${#fields.hasErrors('tag')}? 'has-error'">
        <label for="name" class="control-label">Tag</label>
        <input type="text" class="form-control" id="tag"
               pattern="[a-z0-9_-]{1,128}"
               title="Must be distinct at its level. You can use lowercase letters, digits, underscores or hyphens. Up to 128 characters."
               required th:field="*{tag}">
        <span class="help-block" th:if="${#fields.hasErrors('tag')}" th:errors="*{tag}">Message.</span>
      </div>

      <div class="form-group" th:classappend="${#fields.hasErrors('description')}? 'has-error'">
        <label for="description" class="control-label">Description</label>
        <textarea class="form-control" rows="3" id="description" maxlength="256" th:field="*{description}"></textarea>
        <span class="help-block" th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Message.</span>
      </div>

    </fieldset>

    <fieldset class="col-md-12">
      <div class="form-group float-right">
        <a th:href="@{/}" class="btn btn-default">Cancel</a>
        <button type="submit" class="btn btn-primary">Apply</button>
      </div>
    </fieldset>
  </form>
</div>

<footer th:replace="fragments/commons :: footer" class="footer">
  <div class="container">
    <ul class="text-muted">
      <a href="../home/userhome.html">
        <li>Home</li></a>
      <a href="../info/about.html">
        <li>About</li></a>
    </ul>
  </div>
</footer>

<div th:replace="fragments/commons :: bottom_scripts">
  <script src="../../../resources/bower_components/jquery/dist/jquery.min.js"></script>
  <script src="../../../resources/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
</div>
<script src="../../../resources/bower_components/bootstrap-select/dist/js/bootstrap-select.js"
        th:src="@{/resources/bower_components/bootstrap-select/dist/js/bootstrap-select.js}"></script>
<script>

  $($('#type').change(function() {
    if ($('#type').val() == 'true') {
      $('#sourceCatalog').parent().parent().show();
      $('.checkbox').show();
    } else {
      console.log('else');
      $('#sourceCatalog').parent().parent().hide();
      //$('#sourceCatalog option').prop('selected', false);
      $('.checkbox').hide();
    }
  }));
</script>
</body>
</html>
