<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commons :: head(~{::title}, ~{::link.separate-link})">
  <meta charset="utf-8">
  <link rel="icon" href="../../../resources/img/favicon.ico">

  <title>New category</title>

  <link href="../../../resources/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="../../../resources/css/styles.css" rel="stylesheet">

  <link class="separate-link" href="../../../resources/bower_components/bootstrap-select/dist/css/bootstrap-select.css"
        th:href="@{/resources/bower_components/bootstrap-select/dist/css/bootstrap-select.css}"
        rel="stylesheet">
</head>

<body>

<nav th:replace="fragments/commons :: nav" class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
              aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="../home/userhome.html">MyInventory</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="dropdown active">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
             aria-expanded="false">Catalogs <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="../catalog/view.html">Medicine Cabinet</a></li>
            <li><a href="../catalog/view.html">Crete Trip</a></li>
            <li><a href="../catalog/view.html">Electronics</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="../catalog/new.html">+ New</a></li>
          </ul>
        </li>
        <li><a href="../item/new.html">Add item</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
             aria-expanded="false">SomeUser <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="../login/login.html">Logout</a></li>
            <li role="separator" class="divider"></li>
            <li class="dropdown-header">Settings</li>
            <li><a href="../settings/name.html">Username</a></li>
            <li><a href="../settings/password.html">Password</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">

  <div class="page-header">
    <h1>New category</h1>
  </div>

  <form class="form" th:action="@{/category/new(catalog=${param.catalog})}" th:method="post" th:object="${newCategoryForm}">

    <fieldset class="col-md-6">
      <legend>Category data</legend>
      <div class="form-group">
        <label for="parent" class="control-label">Parent category</label>
        <select data-size="6" class="selectpicker form-control" id="parent" th:field="*{parentId}">
          <option value="" style="padding-left:20px"></option>
        </select>
      </div>

      <div class="form-group" th:classappend="${#fields.hasErrors('name')} ? 'has-error'">
        <label for="name" class="control-label">Name</label>
        <input type="text" class="form-control" id="name" maxlength="128" required th:field="*{name}">
        <span class="help-block" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Message.</span>
      </div>

      <div class="form-group" th:classappend="${#fields.hasErrors('tag')} ? 'has-error'">
        <label for="name" class="control-label">Tag</label>
        <input type="text" class="form-control" id="tag"
               pattern="[a-z0-9_-]{1,128}"
               title="Must be distinct at its level. You can use lowercase letters, digits, underscores or hyphens. Up to 128 characters."
               required th:field="*{tag}">
        <span class="help-block" th:if="${#fields.hasErrors('tag')}" th:errors="*{tag}">Message.</span>
      </div>

      <div class="form-group" th:classappend="${#fields.hasErrors('description')} ? 'has-error'">
        <label for="description" class="control-label">Description</label>
        <textarea class="form-control" rows="3" id="description" maxlength="256" th:field="*{description}"></textarea>
        <span class="help-block" th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Message.</span>
      </div>
    </fieldset>

    <fieldset class="col-md-6">
      <legend>Category fields</legend>

      <div class="form-group-catalog-add-field">

        <div class="form-group form-catalog-add-field" th:each="field, stats : *{fields}" th:classappend="${#fields.hasErrors('fields[' + stats.index + ']')} ? 'has-error'">
          <label class="control-label">Field name & type</label>
          <div class="input-wrapper">
            <input type="text" class="form-control" maxlength="128" required th:field="*{fields[__${stats.index}__].name}">
          </div>
          <select data-size="auto" class="selectpicker form-control" th:field="*{fields[__${stats.index}__].typeCode}">
            <option th:each="type : ${T(goralczyk.inventory.model.FieldType).values()}"
                    th:text="${type}" th:value="${type.typeCode}">Number</option>
          </select>
          <button type="button" class="btn btn-md btn-danger remove-btn">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
          </button>
          <span class="help-block" th:if="${#fields.hasErrors('fields[' + stats.index + ']')}" th:errors="*{fields[__${stats.index}__]}">Message.</span>
        </div>

        <button type="button" id="add-btn" class="btn btn-md btn-success">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add field
        </button>
      </div>
    </fieldset>

    <hr class="col-md-12">

    <fieldset class="col-md-12">
      <div class="form-group float-right">
        <a th:href="@{/catalog/view/{catalog}(catalog=${param.catalog})}" class="btn btn-default">Cancel</a>
        <button type="submit" class="btn btn-primary">Apply</button>
      </div>
    </fieldset>

  </form>
</div> <!-- /container -->

<footer th:replace="fragments/commons :: footer" class="footer">
  <div class="container">
    <ul class="text-muted">
      <a href="../home/userhome.html">
        <li>Home</li></a>
      <a href="../info/about.html">
        <li>About</li></a>
    </ul>
  </div>
</footer>

<!-- Field to add -->
<div class="form-group form-catalog-add-field">
  <label class="control-label">Field name & type</label>
  <div class="input-wrapper">
    <input type="text" class="form-control" maxlength="128" required>
  </div>
  <select data-size="auto" class="selectpicker form-control">
    <option th:each="type : ${T(goralczyk.inventory.model.FieldType).values()}"
            th:text="${type}" th:value="${type.typeCode}">Number</option>
  </select>
  <button type="button" class="btn btn-md btn-danger remove-btn">
    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
  </button>
</div>

<div th:replace="fragments/commons :: bottom_scripts">
  <script src="../../../resources/bower_components/jquery/dist/jquery.min.js"></script>
  <script src="../../../resources/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
</div>
<script src="../../../resources/bower_components/bootstrap-select/dist/js/bootstrap-select.js"
        th:src="@{/resources/bower_components/bootstrap-select/dist/js/bootstrap-select.js}"></script>
<script th:inline="javascript">
  var data = /*[[${catalogJsonData}]]*/"[ {\n  \"id\" : 1,\n  \"name\" : \"Electronics\",\n  \"children\" : [ {\n    \"id\" : 1,\n    \"name\" : \"Diodes\",\n    \"children\" : [ {\n      \"id\" : 2,\n      \"name\" : \"LEDs\",\n      \"children\" : [ ]\n    }, {\n      \"id\" : 3,\n      \"name\" : \"Zener\",\n      \"children\" : [ ]\n    } ]\n  } ]\n} ]";
  var selectedCategoryId = /*[[${newCategoryForm.parentId}]]*/ 0;
  var catalog = $.parseJSON(data);

  $(function() {
    $('#parent').append(createSelectBody(catalog[0]));
    $('#parent').children().filter('option[value = ' + selectedCategoryId + ']').attr('selected', 'selected');
  });

  function createSelectBody(c) {
    var body = "";
    if (c != undefined && c.hasOwnProperty('children')) {
      for (var i = 0; i < c.children.length; ++i) {
        if (i > 0) {
          body += '<option style="padding-left:20px" data-divider="true"></option>';
        }
        body += traverse(c.children[i], 0);
      }
    }
    return body;
  }

  function createOption(c, level) {
    return '<option value=\"' + c.id + '\" style=\"padding-left:' + (20 + level*10) + 'px\">' + c.name + '</option>';
  }

  function traverse(c, level) {
    var str = createOption(c, level);
    for (var i = 0; i < c.children.length; ++i) {
      str += traverse(c.children[i], level + 1);
    }
    return str;
  }

  var fieldToAdd;
  $(function() {
    fieldToAdd = $('body > .form-catalog-add-field').prop('outerHTML');
    if (!$('fieldset .form-catalog-add-field').length) {
      addField();
    }
  });

  $('#add-btn').click(addField);

  function addField() {
    $('#add-btn').before(fieldToAdd);
    refreshIndexes();
    $('.selectpicker').selectpicker('refresh');
  }

  function refreshIndexes() {
    $('fieldset .form-catalog-add-field').each(function(index) {
      $(this).find('input').attr('name', 'fields[' + index + '].name');
      $(this).find('select').attr('name', 'fields[' + index + '].typeCode');
    });
  }

  $('.form-group-catalog-add-field').on('click', '.remove-btn', function() {
    $(this).parent().remove();
    refreshIndexes();
  });
</script>
</body>
</html>
