<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commons :: head(~{::title}, ~{::link.separate-link})">
  <meta charset="utf-8">
  <link rel="icon" href="../../../resources/img/favicon.ico">

  <title>MyInventory - Login</title>

  <link href="../../../resources/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="../../../resources/css/styles.css" rel="stylesheet">

</head>

<body class="form-sign">

<div class="container">

  <form name="f" th:action="@{/login}" method="post">
    <div th:if="${param.error}" class="alert alert-danger">
      Invalid email or password.
    </div>
    <div th:if="${param.logout}" class="alert alert-success">
      You have been logged out.
    </div>
    <div th:if="${param.registered}" class="alert alert-success">
      Registration complete. You may now log in.
    </div>
    <label for="email" class="sr-only">Email address</label>
    <input type="email" id="email" name="username" class="form-control form-top form-error" placeholder="Email address" required
           autofocus>
    <label for="password" class="sr-only">Password</label>
    <input type="password" id="password" name="password" class="form-control form-bottom" placeholder="Password" required>
    <div class="checkbox">
      <label>
        <input type="checkbox" name="remember-me"> Remember me
      </label>
      <a class="link-right" href="../password/restorepassword.html" th:href="@{/restorepassword}">
        Forgot password?
      </a>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>
  </form>
  <div class="register-section">
    Don't have an account?
    <a class="btn btn-lg btn-default btn-block" href="../register/register.html" th:href="@{/register}" role="button">
      Register
    </a>
  </div>

</div>

<footer th:replace="fragments/commons :: footer" class="footer">
  <div class="container">
    <ul class="text-muted">
      <a href="../home/userhome.html">
        <li>Home</li></a>
      <a href="../info/about.html">
        <li>About</li></a>
    </ul>
  </div>
</footer>

<div th:replace="fragments/commons :: bottom_scripts">
  <script src="../../../resources/bower_components/jquery/dist/jquery.min.js"></script>
  <script src="../../../resources/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
</div>
</body>
</html>
