<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>Alerts</title>
  <link href="../../../resources/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="../../../resources/css/styles.css" rel="stylesheet">
</head>

<body>
<div th:fragment="alert(type, message)"
     class="alert"
     th:classappend="'alert-' + ${type}">
  <span th:text="${message}">Message</span>
</div>

<div th:fragment="alert-center(type, message)"
     class="alert text-center"
     th:classappend="'alert-' + ${type}">
  <span th:text="${message}">Message</span>
</div>
</body>
</html>