<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head(title,links)">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head -->

  <meta name="description" content="MyInventory - catalog anything">
  <meta name="author" content="Tomasz Góralczyk">

  <title th:replace="${title}">Title</title>

  <link href="../../../resources/bower_components/bootstrap/dist/css/bootstrap.min.css"
        th:href="@{/resources/bower_components/bootstrap/dist/css/bootstrap.min.css}"
        rel="stylesheet">

  <link href="../../../resources/css/styles.css"
        th:href="@{/resources/css/styles.css}"
        rel="stylesheet">

  <!-- Additional links -->
  <th:block th:replace="${links} ?: ~{}"/>

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body>

<!--todo: mark current link page active - http://stackoverflow.com/a/32033141-->
<nav th:fragment="nav" class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
              aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand"
         href="../home/userhome.html"
         th:href="@{/}">MyInventory</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
             aria-expanded="false">Catalogs <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li th:each="catalog : ${user.catalogs}">
              <a href="../catalog/view.html"
                 th:href="@{/catalog/view/__${catalog.tag}__}"
                 th:text="${catalog.name}">Electronics</a>
            </li>
            <li role="separator" class="divider" th:if="${!user.catalogs.isEmpty()}"></li>
            <li><a href="../catalog/new.html"
                   th:href="@{/catalog/new}">+ New</a>
            </li>
          </ul>
        </li>
        <li><a href="../item/new.html"
               th:href="@{/item/new}">Add item</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
             aria-expanded="false">
            <span th:text="${user.name} " th:remove="tag">SomeUser </span>
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="../login/login.html"
                   th:href="@{/logout}">Logout</a></li>
            <li role="separator" class="divider"></li>
            <li class="dropdown-header">Settings</li>
            <li><a href="../settings/name.html"
                   th:href="@{/settings/name}">Name</a></li>
            <li><a href="../settings/password.html"
                   th:href="@{/settings/password}">Password</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<footer th:fragment="footer" class="footer">
  <div class="container">
    <ul class="text-muted">
      <a href="../home/userhome.html"
         th:href="@{/}">
        <li>Home</li></a>
      <a href="../info/about.html"
         th:href="@{/about}">
        <li>About</li></a>
    </ul>
  </div>
</footer>

<div th:fragment="bottom_scripts">
  <script src="../../../resources/bower_components/jquery/dist/jquery.min.js"
          th:src="@{/resources/bower_components/jquery/dist/jquery.min.js}"></script>
  <script src="../../../resources/bower_components/bootstrap/dist/js/bootstrap.min.js"
          th:src="@{/resources/bower_components/bootstrap/dist/js/bootstrap.min.js}"></script>
</div>
</body>
</html>