<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commons :: head(~{::title}, ~{::link.separate-link})">
  <meta charset="utf-8">
  <link rel="icon" href="../../../resources/img/favicon.ico">

  <title>Quick search</title>

  <link href="../../../resources/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="../../../resources/css/styles.css" rel="stylesheet">

  <link class="separate-link" href="../../../resources/bower_components/bootstrap-treeview/dist/bootstrap-treeview.min.css"
        th:href="@{/resources/bower_components/bootstrap-treeview/dist/bootstrap-treeview.min.css}"
        rel="stylesheet">
</head>

<body>

<nav th:replace="fragments/commons :: nav" class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
              aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="../home/userhome.html">MyInventory</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="dropdown active">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
             aria-expanded="false">Catalogs <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="../catalog/view.html">Medicine Cabinet</a></li>
            <li><a href="../catalog/view.html">Crete Trip</a></li>
            <li><a href="../catalog/view.html">Electronics</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="../catalog/new.html">+ New</a></li>
          </ul>
        </li>
        <li><a href="../item/new.html">Add item</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
             aria-expanded="false">SomeUser <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="../login/login.html">Logout</a></li>
            <li role="separator" class="divider"></li>
            <li class="dropdown-header">Settings</li>
            <li><a href="../settings/name.html">Username</a></li>
            <li><a href="../settings/password.html">Password</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">

  <div class="page-header">
    <h1><a th:text="${catalog.name + ' catalog'}" th:href="@{/catalog/view/__${catalog.tag}__}">Electronics catalog</a></h1>
  </div>

  <div class="col-sm-4">
    <h2>Input</h2>
    <!-- <form> -->
    <div class="form-group">
      <label for="input-search" class="sr-only">Search Tree:</label>
      <input type="input" class="form-control" id="input-search" placeholder="Type to search..." value="">
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" class="checkbox" id="chk-ignore-case" value="false" checked=>
        Ignore Case
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" class="checkbox" id="chk-exact-match" value="false">
        Exact Match
      </label>
    </div>
    <button type="button" class="btn btn-success" id="btn-search">Search</button>
    <button type="button" class="btn btn-default" id="btn-clear-search">Clear</button>
    <!-- </form> -->
  </div>
  <div class="col-sm-4">
    <h2>Tree</h2>
    <div id="tree" class=""></div>
  </div>
  <div class="col-sm-4">
    <h2>Results</h2>
    <div id="search-output"></div>
  </div>

</div> <!-- /container -->

<footer th:replace="fragments/commons :: footer" class="footer">
  <div class="container">
    <ul class="text-muted">
      <a href="../home/userhome.html">
        <li>Home</li></a>
      <a href="../info/about.html">
        <li>About</li></a>
    </ul>
  </div>
</footer>

<div th:replace="fragments/commons :: bottom_scripts">
  <script src="../../../resources/bower_components/jquery/dist/jquery.min.js"></script>
  <script src="../../../resources/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
</div>

<!-- Treeview required Javascript -->
<script src="../../../resources/bower_components/bootstrap-treeview/src/js/bootstrap-treeview.js"
        th:src="@{/resources/bower_components/bootstrap-treeview/src/js/bootstrap-treeview.js}"></script>
<script th:utext="${'var data = ' + treeViewData}">
  var data = [
    {
      text: "Category 1",
      type: "category",
      href: "browse/electronics/somecategory",
      nodes: [
        {
          text: "SubCategory 1",
          type: "category",
          nodes: [
            {
              text: "Item 1",
              type: "item",
              tags: ["23"]
            },
            {
              text: "Item 2",
              type: "item",
              tags: ["10"],
              nodes: null
            }
          ]
        },
        {
          text: "Item 1",
          type: "item",
          tags: ["6"]
        }
      ]
    },
    {
      text: "Category 2",
      type: "category"
    },
    {
      text: "Category 3",
      type: "category"
    },
    {
      text: "Category 4",
      type: "category"
    },
    {
      text: "Item 1",
      type: "item",
      tags: ["4"]
    }
  ];
</script>
<script>

  function getTree() {
    // Some logic to retrieve, or generate tree structure
    return tree;
  }

  var $searchableTree = $('#tree').treeview({
    data: data,
    enableLinks: true,
    highlightSelected: false,
    showTags: true
  });

  var search = function (e) {
    var pattern = $('#input-search').val();
    var options = {
      ignoreCase: $('#chk-ignore-case').is(':checked'),
      exactMatch: $('#chk-exact-match').is(':checked'),
      revealResults: true
    };
    var results = $searchableTree.treeview('search', [pattern, options]);

    var output = '<p>' + results.length + ' matches found</p>';
    $.each(results, function (index, result) {
      output += '<p>- ' + result.text + '</p>';
    });
    $('#search-output').html(output);
  }

  $('#btn-search').on('click', search);
  $('#input-search').on('keyup', search);

  $('#btn-clear-search').on('click', function (e) {
    $searchableTree.treeview('clearSearch');
    $('#input-search').val('');
    $('#search-output').html('');
  });
</script>
</body>
</html>
